<AuthorizeView>
    <NotAuthorized>
        <MudAppBar Elevation="4" Color="Color.Primary" Style="background: #15304B;">
            <MudSpacer />
            <MudTooltip Text="Toggle Dark Mode">
                <MudIconButton Icon="@Icons.Material.Filled.Brightness4" Color="Color.Inherit" OnClick="@((e) => DarkMode())" />
            </MudTooltip>
        </MudAppBar>
    </NotAuthorized>
    <Authorized>
        <MudAppBar Elevation="4" Style="background: #15304B;">
            <MudHidden Breakpoint="Breakpoint.SmAndDown" Invert="true">
                <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => ToggerDraw())" />
            </MudHidden>
            <MudText Typo="Typo.h6" Class="ml-2" Style="color: #F5F6FA;">
                <img src="arinco-logo.svg" alt="ARINCO Logo" style="height:30px; vertical-align:middle; margin-right:8px;" />
                ARINCO <span style="font-weight:300;">Bicep Hub</span>
            </MudText>
            <MudSpacer />
            <MudDivider Vertical="true" FlexItem="true" DividerType="DividerType.Middle" Class="mx-4 my-5" />
            <MudMenu Dense="true" Direction="Direction.Right" OffsetX="true" Class="px-4">
                <ActivatorContent>
                    <MudIconButton Icon="@Icons.Material.Filled.Info" Color="Color.Inherit" />
                </ActivatorContent>
                <ChildContent>
                    <div class="px-2">
                        <MudText Typo="Typo.body1">Assembly version: @AssemblyVersion</MudText>
                    </div>
                </ChildContent>
            </MudMenu>
            <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
                <MudTooltip Text="Toggle Dark Mode">
                    <MudIconButton Icon="@Icons.Material.Filled.Brightness4" Color="Color.Inherit" OnClick="@((e) => DarkMode())" />
                </MudTooltip>
            </MudHidden>
            <MudHidden Breakpoint="Breakpoint.SmAndDown" Invert="true">
                <MudMenu Icon="@Icons.Material.Filled.Settings" Color="Color.Inherit" Dense="true" Direction="Direction.Right" OffsetY="true">
                    <div class="px-2">
                        <MudTooltip Text="Toggle Dark Mode">
                            <MudIconButton Icon="@Icons.Material.Filled.Brightness4" Color="Color.Inherit" OnClick="@((e) => DarkMode())" />
                        </MudTooltip>
                    </div>
                </MudMenu>
            </MudHidden>
            <MudMenu Direction="_rightToLeft ? Direction.Right : Direction.Left" OffsetX="true" Dense="true" Class="mt-1 ml-4">
                <ActivatorContent>
                    <MudAvatar Color="Color.Info" Variant="Variant.Outlined">@FirstLetterOfName</MudAvatar>
                </ActivatorContent>
                <ChildContent>
                    <UserCard Class="mt-n2" />
                    <MudDivider Class="mb-2" />
                    <MudListItem T="string" Text="Logout" Icon="@Icons.Material.Filled.Logout" OnClick="Logout" />
                </ChildContent>
            </MudMenu>
        </MudAppBar>
    </Authorized>
</AuthorizeView>